%h2 New applicant
%p 
	.strong Name:
	#{@name}
%p
	.strong Email:
	#{@email}
%p
	.strong Phone:
	#{@phone}
%p.strong What do they hope to accomplish?
%p #{@what}
%p.strong Experiences and skills with technology:
%p #{@experience}
%p.strong Their online presence:
%p #{@links}
