%h2 New applicant
%p Name: #{@name}
%p Email: #{@email}
%p Phone: #{@phone}
%p What do they hope to accomplish?
%p #{@what}
%p Experiences and skills with technology:
%p #{@experience}
%p Their online presence:
%p #{@links}
